In [ ]:
pip install mysql-connector

In [35]:
import mysql.connector

In [36]:
mydb = mysql.connector.connect(
	host="Host name",
	user="Username",
	passwd="Password",
	database="Database name")

In [37]:
mycursor=mydb.cursor()

In [28]:
sql="CREATE TABLE Chocolates (ID int,Name VARCHAR(30),Quantity INT,Price float)"
mycursor.execute(sql)

In [39]:
sql1="INSERT INTO Chocolates VALUES (%s,%s,%s,%s)"
val=[
    ('1','Dairy milk','12','10'),
    ('2','Kit kat','25','20'),
    ('3','Perk','16','5'),
    ('4','Snickers','10','75')
]
mycursor.executemany(sql1, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

4 was inserted.

In [42]:
sql="SELECT * FROM Chocolates"
mycursor.execute(sql)
myresult=mycursor.fetchall()

print(mycursor.column_names)
for x in myresult:
	print(x)

('ID', 'Name', 'Quantity', 'Price')
(1, 'Dairy milk', 12, 10.0)
(2, 'Kit kat', 25, 20.0)
(3, 'Perk', 16, 5.0)
(4, 'Snickers', 10, 75.0)